<div class="page">
	<div class="sidebar hidden-xs hidden-sm">
	<!-- add filters here-->
	</div>
	<div class="content-form">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-xs-12">
						<h3 class="handwritten top-margin">Nos stages et ateliers</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<%= @workshops.each do |workshop| %>
							<div class="card">
								<p><%= workshop.format %></p>
								<p><%= workshop.title %></p>
								<%= workshop.photos.each do |photo| %>
									<%= cl_image_tag photo.path, width: 300, height: 300, crop: :fill %>
								<% end %>
								<p><%= workshop.description %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<div>