<div class="top-margin">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-xs-12 inline-icons">
						<%= link_to workshops_path do %>
							<p class="small-note space-after"><i class="fa fa-chevron-circle-left space-right" aria-hidden="true"></i>Revenir à la liste des cours et ateliers</p>
						<% end %>
						<div class="workshop-title">
							<h6 class="customized top-margin space-after"><%= @workshop.format %></h6>
							<h2 class="custom">« <%= @workshop.title %> »</h2>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-md-7">
						<% @workshop.photos.each do |photo|  %>
							<%= cl_image_tag photo.path, width: 500, height: 350, crop: :fill, class: "card-image-w panoramic-image" %>
						<% end %>
						<h4 class="customized">Description</h4>
						<p><%= simple_format(@workshop.description) %></p>
					</div>
					<div class="col-xs-12 col-md-5">
						<div id="one">
							<div class="session-list">
								<h4 class="customized">Prochaines sessions</h4>
								<% if @sessions.any? %>
									<% @sessions.each do |session|  %>
										<div class="session">
											<div class="session-info">
												<p><i class="fa fa-calendar space-right" aria-hidden="true"></i> <%= session.date.strftime("%A, %d %B %Y") %></p>
												<p class="fine-print"><%= session.available %> places disponibles</p>
											</div>
											
										<!-- BEGINNING OF MODAL -->
											
											<!-- Button trigger modal -->
											<button type="button" class="btn btn-primary-rose btn-sm" data-toggle="modal" data-target="#myModal">
											  Réserver
											</button>

											<!-- Modal -->
											<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											        <h4 class="modal-title" id="myModalLabel">Demande de réservation</h4>
											      </div>
											      <div class="modal-body">
												    <div class="modal-row-1">
											        	<% @workshop.photos.each do |photo|  %>
															<%= cl_image_tag photo.path, class: "card-image-w panoramic-image" %>
														<% end %>
											        	<h6 class="customized"><%= @workshop.format %></h6>
											        	<h2 class="custom"><%= @workshop.title %></h5>
											        	<p class="modal-label space-before">Date</p>
											        	<p class="small-note">Vendredi, 22 septembre 2017</p>
											        	<p class="modal-label space-before">Nombre de participants</p>

														<!-- Fake input number incrementor managing simple form hidden input-->
														<form id='myform' method='POST' action='#'>
														    <input type='button' value="-" class='qtyminus' field='quantity' />
														    <input type='text' name='quantity' value='1' class='qty' />
														    <input type='button' value='+' class='qtyplus' field='quantity' />
														</form>
														<!-- end fake input -->
										
												    </div>
												    <div class="bkg-details">
												      	<%= simple_form_for [@workshop, @contact] do |f| %>
															<%= f.input :name, label: 'Prénom' %>
															<%= f.input :email %>
															<%= f.input :message %>
															<%= f.input :nb_guests, as: :string, input_html: { class: "qty", value: "1", name: 'quantity' } %>
															<%= f.input :subject, as: :hidden, input_html: { value: "workshop" } %>
															<%= f.submit "Envoyer la demande", class: "btn btn-primary-rose" %>	
														<% end %>	
													</div>
											      </div>
											    </div>
											  </div>
											</div>
										<!-- END OF MODAL -->
										</div>
									<% end %>
								<% else %>
									<div class="session">
										<p>Aucune session n'est prévue prochainement</p>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6"> 
						<div class="program">
							<h4 class="customized">Programme</h4>
							<% @programsteps.each do |programstep | %>
								<p class="time letter-spaced"><i class="fa fa-clock-o space-right" aria-hidden="true"></i><%= programstep.start_time.strftime("%H:%M") %> - <%= programstep.end_time.strftime("%H:%M") %></p>
								<p class="aligned"><%= programstep.description %></p>
							<% end %>
							<p class="fine-print">(*) Etapes optionnelles pour ceux qui le souhaitent</p>
						</div>

						<h4 class="customized">Taille de groupes</h4>
						<p>Jusqu'à <%= @workshop.capacity %> personnes maximum</p>
						
						<h4 class="customized">Tarifs</h4>
						<p class="no-bottom-margin"><%= @workshop.price %> EUR *</p>
						<p class="fine-print">*Prix varie de 9 à <%= @workshop.price %> € selon les options choisies.</p>

						<h4 class="customized">Autres informations</h4>
						<p class="inline-icons"><%=image_tag "baby.svg", class: "space-right" %>Possibilité de babysitting sur place pendant les séances.</p>		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- JS for sticky scrolling -->
<% content_for(:after_js) do %>
  <script type="text/javascript">
    var footer = document.getElementById("two").offsetHeight;
    function sticky() {
      if (window.innerWidth < 900) {
        $("#one").unstick();
      } else {
        $("#one").sticky({bottomSpacing: 130 + footer});
      }
    };
    window.addEventListener('load', sticky);
    window.addEventListener('resize', sticky);
  </script>
<% end %>




<!-- Jquery for Input Incrementor -->
<script type="text/javascript" >
	window.onload = function() {
		$(document).ready(function(){
		    // This button will increment the value
		    $('.qtyplus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If is not undefined
		        if (!isNaN(currentVal)) {
		            // Increment
		            $('input[name='+fieldName+']').val(currentVal + 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val(0);
		        }
		    });
		    // This button will decrement the value till 0
		    $(".qtyminus").click(function(e) {
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If it isn't undefined or its greater than 0
		        if (!isNaN(currentVal) && currentVal > 0) {
		            // Decrement one
		            $('input[name='+fieldName+']').val(currentVal - 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val(0);
		        }
		    });
		});
	}
</script>
