<div class="top-margin">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 inline-icons">
				<%= link_to workshops_path do %>
					<p><i class="fa fa-chevron-circle-left space-right" aria-hidden="true"></i>Revenir à la liste</p>
				<% end %>
			</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<% @workshop.photos.each do |photo|  %>
					<%= cl_image_tag photo.path, width: 400, height: 400, crop: :fill, class: "card-image-w" %>
				<% end %>					
			</div>
			<div class="col-xs-12 col-sm-6">
				<p><%= @workshop.format %></p>
				<p>"<%= @workshop.title %>"	</p>
				<p><%= @workshop.description %></p>
				<p>Nombre de participants: 	<%= @workshop.capacity %> personnes</p>
				<p>Prix: <%= @workshop.price %> EUR</p>
		</div>
	</div>
</div>
