<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-4">
			<%= simple_form_for @programstep  do |f| %>
				<%= f.association :workshop, collection: @workshops, include_blank: true %>
				<%= f.input :start_time %>
				<%= f.input :end_time %>
				<%= f.input :description %>
				<%= f.submit "Enregistrer", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
