<div class="navbar-w">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-logo" do %>
    <?xml version="1.0" encoding="UTF-8"?>
<svg width="45px" height="51px" viewBox="0 0 45 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <title>dove</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="brenantec_styleguide" transform="translate(-848.000000, -1110.000000)" fill-rule="nonzero" fill="#0A597A">
            <g id="dove" transform="translate(870.500000, 1135.528846) scale(-1, 1) translate(-870.500000, -1135.528846) translate(848.000000, 1110.000000)">
                <path d="M26.2774038,35.6633654 C33.0931731,34.8836538 38.115,32.1940385 41.2026923,27.6698077 C46.8597115,19.3820192 44.2661538,7.29692308 43.3367308,3.79125 C43.1965385,3.25730769 42.7750962,2.85403846 42.2368269,2.73894231 C41.7011538,2.62384615 41.1490385,2.81769231 40.8011538,3.24692308 C35.2843269,10.0592308 28.4529808,17.83125 23.8941346,21.7003846 C24.5025,19.8865385 24.8374038,17.9281731 24.8772115,15.9057692 C24.9715385,11.0769231 24.3475962,4.48442308 20.8324038,0.499326923 C20.48625,0.107307692 19.9540385,-0.0735576923 19.4417308,0.0294230769 C18.9242308,0.132403846 18.5140385,0.490673077 18.3426923,0.989134615 C16.0476923,7.69240385 13.0802885,13.0924038 9.52269231,17.0402885 C7.90355769,18.8376923 6.30259615,21.0470192 6.71365385,23.805 C6.80451923,24.4125 7.02086538,25.0641346 7.32115385,25.7183654 C6.59509615,25.7581731 5.90192308,25.8819231 5.25028846,26.0991346 C5.00019231,26.1822115 4.77432692,26.2713462 4.58913462,26.3630769 C1.60875,27.8359615 0.385096154,30.5645192 0.591923077,31.5545192 C0.684519231,31.9984615 1.03846154,32.3108654 1.47115385,32.3307692 C6.71711538,32.5765385 9.85932692,34.7348077 10.09125,35.3500962 C10.3785577,36.3790385 10.7342308,37.1613462 11.2093269,37.8069231 L11.2716346,37.8917308 C12.7263462,39.8293269 15.12,40.9854808 17.6780769,40.9854808 C17.6798077,40.9854808 17.6815385,40.9854808 17.6815385,40.9854808 C18.3210577,40.9854808 18.8835577,41.4848077 19.0176923,42.1727885 C19.1284615,42.7456731 19.2799038,43.2813462 19.4780769,43.8126923 C20.9803846,47.8159615 24.9663462,50.5055769 29.39625,50.5055769 L30.9340385,50.5055769 C34.2649038,50.5055769 36.7009615,49.6921154 38.1773077,48.0876923 C39.7341346,46.3967308 39.5922115,44.4582692 39.5878846,44.4478846 C39.5878846,43.36875 39.1872115,42.4263462 38.3971154,41.6457692 C35.9498077,39.22875 30.3992308,39.2607692 30.0634615,39.2555769 C27.9173077,39.2538462 26.5335577,38.205 25.9520192,36.1358654 C25.9130769,35.9991346 25.9684615,35.8883654 26.0048077,35.8347115 C26.0333654,35.7879808 26.1216346,35.6806731 26.2774038,35.6633654 Z M10.8077885,18.1981731 C14.4424038,14.16375 17.4755769,8.71355769 19.8259615,1.99211538 C22.8686538,5.805 23.2165385,12.2815385 23.1455769,15.8711538 C23.0893269,18.7632692 22.3745192,21.5013462 21.0799038,23.7998077 C20.9838462,23.895 20.8834615,23.9806731 20.7848077,24.0689423 C20.6870192,24.1563462 20.5900962,24.2489423 20.4897115,24.3311538 C20.3824038,24.4176923 20.2707692,24.4938462 20.1617308,24.5743269 C20.0526923,24.6539423 19.94625,24.7370192 19.8346154,24.8105769 C19.7281731,24.8806731 19.6182692,24.9403846 19.5100962,25.0044231 C19.3906731,25.0753846 19.2729808,25.1498077 19.1518269,25.2138462 C19.0471154,25.2692308 18.9398077,25.3150962 18.8342308,25.3652885 C18.7052885,25.4267308 18.5772115,25.4916346 18.4456731,25.5452885 C18.3435577,25.5876923 18.2397115,25.6223077 18.1358654,25.6603846 C17.9974038,25.7123077 17.8598077,25.7668269 17.7196154,25.8118269 C17.6226923,25.8429808 17.5249038,25.8663462 17.4279808,25.8940385 C17.2791346,25.9364423 17.1302885,25.9814423 16.9797115,26.0177885 C16.8905769,26.0385577 16.8005769,26.0541346 16.7105769,26.0723077 C16.5504808,26.1060577 16.3903846,26.1415385 16.2285577,26.1683654 C16.1498077,26.1813462 16.0710577,26.1891346 15.9923077,26.2003846 C15.8192308,26.2254808 15.6452885,26.2514423 15.4713462,26.26875 C15.4099038,26.2748077 15.3475962,26.2774038 15.2861538,26.2825962 C15.0949038,26.2990385 14.9036538,26.3154808 14.7132692,26.3241346 C14.6734615,26.3258654 14.6336538,26.325 14.5947115,26.3267308 C14.3826923,26.3345192 14.1698077,26.3405769 13.9586538,26.3397115 C13.9448077,26.3397115 13.9309615,26.3388462 13.91625,26.3388462 C12.6848077,26.3310577 11.4853846,26.1865385 10.40625,26.0039423 C10.1873077,25.9667308 9.97355769,25.9286538 9.765,25.8888462 C9.76067308,25.8879808 9.75721154,25.8879808 9.75375,25.8871154 C9.61182692,25.8602885 9.46817308,25.8386538 9.32451923,25.8196154 C8.85028846,25.0442308 8.5275,24.2333654 8.42625,23.5488462 C8.11990385,21.5082692 9.38942308,19.7714423 10.8077885,18.1981731 Z M24.2852885,36.6023077 C24.7448077,38.23875 26.1077885,40.98375 30.0686538,40.98375 L30.0799038,40.98375 C31.5103846,40.96125 35.5577885,41.2710577 37.18125,42.8746154 C37.6355769,43.32375 37.8571154,43.8377885 37.8597115,44.5093269 C37.8631731,44.5629808 37.9306731,45.8186538 36.8792308,46.9401923 C35.7550962,48.13875 33.6989423,48.7730769 30.9340385,48.7730769 L29.39625,48.7730769 C25.68375,48.7730769 22.3485577,46.5351923 21.0989423,43.2034615 C20.9319231,42.7577885 20.8099038,42.3250962 20.7164423,41.8413462 C20.4239423,40.3416346 19.1475,39.2538462 17.6815385,39.2538462 L17.6798077,39.2538462 C17.6780769,39.2538462 17.6780769,39.2538462 17.6772115,39.2538462 C15.6608654,39.2538462 13.7838462,38.3555769 12.6060577,36.7866346 C12.2564423,36.3098077 11.9864423,35.7049038 11.7571154,34.8836538 C11.2802885,33.1771154 7.31509615,31.1192308 2.51307692,30.6683654 C2.86009615,29.93625 3.68048077,28.7420192 5.35586538,27.9138462 C5.47875,27.8532692 5.62759615,27.7961538 5.79461538,27.7407692 C6.57605769,27.4802885 7.44663462,27.3868269 8.38903846,27.4543269 L8.68067308,27.4863462 C8.93163462,27.5131731 9.18346154,27.5408654 9.44394231,27.5893269 C9.56682692,27.6126923 9.70615385,27.6386538 9.85586538,27.6654808 C9.89134615,27.6724038 9.92942308,27.6784615 9.96663462,27.6853846 C10.0903846,27.7078846 10.2193269,27.7295192 10.3586538,27.7528846 C10.4140385,27.7624038 10.4694231,27.7710577 10.5274038,27.7797115 C10.6598077,27.8004808 10.7974038,27.82125 10.9410577,27.8420192 C11.0068269,27.8515385 11.0708654,27.8601923 11.1383654,27.8697115 C11.295,27.8913462 11.4585577,27.9103846 11.6273077,27.9302885 C11.6852885,27.9372115 11.7406731,27.9441346 11.8003846,27.9501923 C12.2633654,27.9995192 12.7626923,28.0375962 13.2897115,28.0557692 C13.3494231,28.0575 13.4108654,28.0575 13.4705769,28.0592308 C13.6194231,28.0626923 13.7665385,28.0678846 13.9179808,28.0678846 C13.9595192,28.0678846 14.0036538,28.0644231 14.0451923,28.0644231 C14.2511538,28.0626923 14.4614423,28.0549038 14.6734615,28.0453846 C14.7902885,28.0401923 14.9045192,28.0384615 15.0230769,28.0306731 C15.3501923,28.0090385 15.6807692,27.97875 16.0148077,27.9346154 C16.0823077,27.9259615 16.1506731,27.91125 16.2181731,27.9008654 C16.4890385,27.8610577 16.7607692,27.8160577 17.0342308,27.7589423 C17.1579808,27.7329808 17.2808654,27.6992308 17.40375,27.6698077 C17.6244231,27.6170192 17.8442308,27.5599038 18.0649038,27.4941346 C18.1999038,27.4534615 18.3340385,27.4075962 18.4681731,27.3617308 C18.6784615,27.2899038 18.8870192,27.2111538 19.0955769,27.1254808 C19.2305769,27.0700962 19.3638462,27.0129808 19.4979808,26.9515385 C19.7091346,26.8546154 19.9176923,26.7447115 20.1253846,26.6313462 C20.2491346,26.5638462 20.3728846,26.5006731 20.4940385,26.4271154 C20.7354808,26.2808654 20.9717308,26.1173077 21.2053846,25.9468269 C21.285,25.8879808 21.3680769,25.8386538 21.4468269,25.7772115 C21.7384615,25.5496154 22.0231731,25.3038462 22.2983654,25.0329808 C27.64125,21.8509615 38.1539423,9.23971154 41.7972115,4.76221154 C42.76125,8.64173077 44.7646154,19.3785577 39.7713462,26.6936538 C36.97875,30.7843269 32.3723077,33.2238462 26.0792308,33.9429808 C25.4648077,34.0130769 24.9126923,34.3497115 24.5656731,34.8672115 C24.2229808,35.3803846 24.12,36.0129808 24.2852885,36.6023077 Z" id="Shape"></path>
                <circle id="Oval" cx="7.13596154" cy="29.3019231" r="1.29807692"></circle>
            </g>
        </g>
    </g>
</svg>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
     <div class="dropdown">
      <a href="" class="navbar-item nav-link" data-toggle="dropdown">Stages et Ateliers</a>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><%= link_to "Nos stages et ateliers", workshops_path %></li>
        <li><%= link_to "Agenda 2017 - 2018", agenda_workshops_path %></li>
        <li><%= link_to "Vos stages sur-mesure", tailor_made_workshops_path %></li>
      </ul>
    </div>
    <div class="dropdown">
      <a href="accommodation" class="navbar-item nav-link" data-toggle="dropdown">Hebergement</a>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><%= link_to "Petite maison bleue", blue_path %></li>
        <li><a href="#">Maison verte</a></li>
      </ul>
    </div>
    <%= link_to "A propos", about_path, class: "navbar-item nav-link" %>
  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><%= link_to "A propos", about_path %></li>
        <li><%= link_to "Hébergement", accommodation_path %></li>
        <li><%= link_to "Stages et Ateliers", workshops_path %></li>
      </ul>
    </div>
  </div>
</div>




