<!-- SIDE LINKS -->
<div class="page">
  <div class="sidebar hidden-xs hidden-sm">
  	<div class="side-links">
  		<span><a class="tab active nav-link" data-target="#maisons">Mon histoire</a></span>
      <span><a class="tab nav-link" data-target="#ile">Belle-ile-en-mer</a></span>
      <span><a class="tab nav-link" data-target="#equipe">Amis et partenaires</a></span>
      <span><a class="tab nav-link" data-target="#contacts">Contacts</a></span>
  	</div>
  </div>



  <!-- TABS CONTENT -->
  <div class="content-form">

  <!-- First Tab -->
    <div class="tab-content" id="maisons">
      <div class="container-fluid">
        <div class="row">
          <div class="photo-text-banner", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'isabelle-walking.jpg' %>);">
            <div class="onbanner-text">
              <span>
                <h2 class="custom">Bonjour,</h2> 
                <p>Je suis Isabelle. Mère et grand-mère, et parallèlement « conseil en communication » pour les entreprises pendant presque toute ma vie active de salariée puis de chef d’entreprise, j’ai ressenti le besoin de travailler plus directement avec les individus qui constituent l’entreprise, afin des les accompagner dans leurs chemins qu’ils soient professionnels ou personnels.</p>
                <p>Par ailleurs, amatrice de cuisine végétale, du bord de mer, des algues et des plantes sauvages comestibles, j’ai posé mes valises à Belle-Ile-en-Mer en 2015.</p>
                <p>Aujourd’hui, je trouve mon énergie en mettant ces savoir-faire et mon espace de vie à disposition de ceux qui cheminent sur ces sentiers et veulent faire le plein d’énergie.</p>
              </span>
            </div>
          </div> 
        </div>

       
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">

            <!-- WHY BELLE ILE ? -->
            <h3 class="customized">Pourquoi Belle-ile ?</h3>
            <p>
              Très vite cette ile m’est apparue comme <strong>une évidence</strong>. Le temps y perd ses repères et s’étire parfois ou se resserre au gré du soleil et du vent. Le silence de sa nature, vivante, nous renvoie à notre essentiel ; aux antipodes du désordre sonore et visuel, nous sommes connectés directement à notre réalité, notre essence. L’énergie de ce caillou entre ciel et mer inonde généreusement tous nos pores, et recycle tout ce que nous sommes prêts à lâcher pour avancer plus légers sur nos routes.
            </p>

            <div class="image-paragraphe">
              <%= image_tag 'phares-palais.jpg' %>
            </div>


            <!-- WHY THIS ADVENTURE ? -->
            <h3 class="customized">Pourquoi cette aventure ?</h3>
            <p>Puis est venue <strong>une deuxième évidence</strong>. Disposant maintenant de trois très grands luxes que sont:</p>
            <div class="cards-luxe">
              <div class="card">
                <%=image_tag "clock-grey.svg" %>
                <strong> le temps</strong>
                <p>après une vie professionnelle dans la communication et l’accompagnement, je peux profiter au quotidien de la magie de cette si belle ile</p>
              </div>
              <div class="card">
                <%=image_tag "house-grey.svg" %>
                <strong> une maison</strong> 
                <p>belliloise douillette et chaleureuse, aménagée avec amour depuis 30 ans</p>
              </div>
              <div class="card">
                <%=image_tag "birds-grey.svg" %>
                <strong> la liberté</strong>
                <p>de choisir quoi faire de mon énergie vitale, de partager ce qui m’anime et mon espace de vie</p>
              </div>
            </div>

            <p>
              - j’ai choisi de mettre toute la magie de ce lieu à la disposition de ceux qui cheminent sur leurs propres sentiers et qui souhaitent :
            </p>
            
            <ul class="customized-bullets">
              <li>découvrir Belle-Ile autrement</li>
              <li>faire une pause dans leur vie trépidante</li>
              <li>refaire le plein d’énergie vitale</li>
              <li>redécouvrir les essentiels de la vie, la votre et celle de la nature autour</li>
              <li>se ressourcer sur tous les plans : corps, âme et esprit.</li>
            </ul>


            <!-- TEAM -->

            <h3 class="customized">Equipe de Sentiers de Soi</h3>
            <% @coaches.each do |coach| %>
              <div class="member">
                <div class="member-avatar">
                  <% if coach.photo? %>
                    <%= cl_image_tag coach.photo.path, width: 150, height: 150, crop: :fill, class: "text-center" %>
                  <% else %>
                    <%= image_tag 'http://placehold.it/180x180', class: "text-center" %>
                  <% end %>
                </div>
                <div class="member-body">
                  <h3 class="name"><%= coach.name %></h3>
                  <p class="title"><%= coach.role %></p>
                  <%= simple_format truncate(coach.intro, length: 200, separator: ' '), class: "text" %>
                  <div class="member-link">
                    <%= link_to coach_path(coach) do %>
                       <p>Lire la suite</p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          
          <!-- FOOTER IMAGE -->

          <%= image_tag 'tempete.jpg', class:"panoramic-image footer-image" %>
        
        </div>
      </div>
    </div>





    <!-- Second Tab -->
    <div class="tab-content hidden" id="ile">
      <div class="container-fluid">
        <div class="row">
          <%= image_tag 'ile-panaromique.jpg', class:"panoramic-image" %>
          <div class="col-xs-12 col-md-10 col-md-offset-1">

            <!-- Description de Belle-Ile -->
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <div class="text-container">
                  <h3 class="customized">Découvrir Belle-Ile</h3>
                  <p>Véritable paradis entre ciel et mer, Belle-Ile  n'a pas fini de vous surprendre. Au sud de la Bretagne, à 15 km au large de Quiberon, Belle-Île-en-Mer est la plus grande des îles du Ponant. Avec ses 17 km de long, 9 km de large, elle est sans doute aussi la plus étonnante par l’éclectisme de ses paysages : des dunes de sable fin de la plage de Donnant aux falaises déchirées de la pointe des Poulains, de sa lande préservée aux sentiers bucoliques de l’intérieur, Belle-Ile a une nature généreuse et fascinante, immortalisée par de nombreux artistes, peintres ou poètes.</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="media-container hidden-xs">
                  <%= image_tag "belle-ile-map.png" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="media-container hidden-xs">
                  <%= image_tag "seagull.png" %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="text-container">
                  <h3 class="customized">Comme son nom l'indique</h3>
                  <p>C'est un lieu mythique. Ses quelques 100 km de sentiers côtiers sur ce plateau à 70 m au dessus de la mer entrecoupé de très nombreux vallons creusés au fil du temps par les eaux de pluie en font un site d’exception pour les amateurs de randonnées au grand air.</p>
                  <p>En outre, Belle-Ile jouit d’un climat doux et régulier, le fameux (et réel !) « microclimat bellilois ». Les bellilois ont su en protéger les richesses, et en faire, au-delà d'un lieu unique de sérénité et d'inspiration, un authentique territoire du tourisme responsable.</p>
                </div>
              </div>
            </div>
            <!-- End of Description de Belle-Ile -->




            <!-- Les Incontournables de Belle-Ile -->
            <!-- Things to see -->
            <h2 class="handwritten honey top-margin">Les Incontournables de Belle-Ile</h2>
            <div class="row">
              <div class="col-xs-12 things-to-see">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="card whover text-center">
                        <%= image_tag "les-aiguilles-de-port-cotton.jpg", :data => { :toggle => "modal", :target => "#modal-landmark" }, class: "round-image" %>
                        <div class="card-description">
                          <p class="card-note">- Bangor -</p>
                          <p class="card-text">Les Aiguilles de Port Cotton</p>
                        </div>
                      </div>

<!-- TEST MODAL -->
<!-- Modal -->
<div id="modal-landmark" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Les Aiguilles de Port Cotton</h4>
      </div>
      <div class="modal-body">
        <div class="modal-row-1">
          <%= image_tag "les-aiguilles-de-port-cotton.jpg", class: "card-image-w panoramic-image" %>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End of Test -->



                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card whover text-center">
                      <%= image_tag "eglise-notre-dame-locmaria.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Locmaria -</p>
                        <p class="card-text">L'Eglise Notre-Dame de l'Assomption</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card whover text-center">
                      <%= image_tag "sauzon.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Sauzon -</p>
                        <p class="card-text">Le Port de Sauzon</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card text-center">
                      <%= image_tag "citadelle-vauban.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Le Palais -</p>
                        <p class="card-text">La Citadelle Vauban</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card whover text-center">
                      <%= image_tag "musee-sarah-bernhardt.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Sauzon -</p>
                        <p class="card-text">Le Fort Sarah Bernhardt</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card whover text-center">
                      <%= image_tag "la-plage-de-donnant.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Sauzon -</p>
                        <p class="card-text">La Plage de Donnant</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card whover text-center">
                      <%= image_tag "goulphar.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Bangor -</p>
                        <p class="card-text">Le Phare de Goulphar</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card whover text-center">
                      <%= image_tag "la-pointe-des-poulains-3.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Sauzon -</p>
                        <p class="card-text">La Pointe des Poulains</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>





            <!-- Sports to practice -->
            <div class="row">
              <div class="col-xs-12 things-to-do">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card text-center">
                      <%= image_tag "paddle.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Sauzon -</p>
                        <p class="card-text">Paddle</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card text-center">
                      <%= image_tag "surf.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Locmaria -</p>
                        <p class="card-text">Surf & Bodyboard</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card text-center">
                      <%= image_tag "golf-3.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Sauzon -</p>
                        <p class="card-text">Golf</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card text-center">
                      <%= image_tag "planche-à-voile.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Le Palais -</p>
                        <p class="card-text">Planche à voile</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Things to taste -->
            <div class="row">
              <div class="col-xs-12 things-to-taste">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card text-center">
                      <%= image_tag "bieres.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Bangor -</p>
                        <p class="card-text">Bière de Belle-Ile</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card whover text-center">
                      <%= image_tag "fruits-de-mer.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Locmaria -</p>
                        <p class="card-text">Fruits de mer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card text-center">
                      <%= image_tag "crepes.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Sauzon -</p>
                        <p class="card-text">Crêpes de Sauzon</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card whover text-center">
                      <%= image_tag "far-breton.jpg", class: "round-image" %>
                      <div class="card-description">
                        <p class="card-note">- Le Palais -</p>
                        <p class="card-text">Far breton</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- End of Les Incontournables de Belle-Ile -->
          </div>
        </div>
      </div>
    </div>




    <!-- Third Tab -->
    <div class="tab-content hidden" id="contacts">
      <div class="content-container">


        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5">
              <div class="top-margin bottom-margin">
                <p>Si vous n’avez pas trouvé toutes les réponses à vos questions, n’hésitez pas à me contacter par téléphone ou par email ou en remplissant le formulaire ci-dessous.</p>
              </div>
              <div class="bkg-details about">
                  <%= simple_form_for [@brequest] do |f| %>
                  <%= f.input :name, label: 'Prénom' %>
                  <%= f.input :email %>
                  <%= f.input :message, :input_html => {:rows => 8} %>
                  <%= f.input :subject, as: :hidden, input_html: { value: "contact"  } %>
                  <%= f.submit "Envoyer", class: "btn btn-primary-rose bottom-margin" %> 
                <% end %> 
              </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4">
              <h3 class="handwritten no-top-margin">Isabelle Lagane-Millet</h3>
              <div class="contacts padded-v">
                <p class="small-note"><%=image_tag "email.svg" %>ilagane.millet@gmail.com</p>
                <p class="small-note"><%=image_tag "phone-call.svg" %>06 26 31 98 02</p>
                <p class="small-note"><%=image_tag "contract.svg" %>Brénantec, 56360 Sauzon</p>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!--  Belle-Ile by Drone video
<div class="col-xs-12">
  <div class="media-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/U-ki8thWaIc" frameborder="0" allowfullscreen></iframe>
  </div>
</div> -->



