<!-- SIDE LINKS -->
<div class="page">
  <div class="sidebar hidden-xs hidden-sm">
  	<div class="side-links">
  		<span><a class="tab active nav-link" data-target="#maisons">Notre philosophie</a></span>
      <span><a class="tab nav-link" data-target="#ile">Belle-ile-en-mer</a></span>
      <span><a class="tab nav-link" data-target="#equipe">Amis et partenaires</a></span>
      <span><a class="tab nav-link" data-target="#contacts">Contacts</a></span>
  	</div>
  </div>



  <!-- TABS CONTENT -->
  <div class="content-form">

  <!-- First Tab -->
    <div class="tab-content" id="maisons">
      <h4 class="satisfy">... Une parenthèse hors du temps, un lieu pour se ressourcer sur tous les plans</h4>
      <div class="image-container">
        <%= image_tag "maison-bleue.jpg", class: "padded" %>
      </div>
      <h3 class="customized">Histoire de trois maisons</h3>
      <p class="test">Ici insérer un texte décrivant comment cet endroit est né pour rajouter une touche personnelle</p>
      <h3 class="customized">Notre philosophie</h3>
      <p></p>
      <ul class="unstyled">
        <li>Faire une pause dans votre vie trépidante ;</li>
        <li>Faire le plein de l’énergie ambiante : forte et illimitée! ;
        <li>Redécouvrir la Vie : la vôtre, celle de la nature préservée ;</li>
        <li>Remettre vos compteurs à zero et repartir du bon pied et dans la bonne direction (voir notre calendrier de stages et ateliers) ;</li>
        <li>Revenir vers « Vous » ;</li>
        <li>Vous ressourcer sur tous les plans : corps, âme et esprit (voir notre page <a href="#">« Partenaires et Amis »</a>) ;</li>
        <li>Pour la découverte de cette île, si bien nommée !</li>
      </ul>
    </div>


    <!-- Second Tab -->
    <div class="tab-content hidden" id="ile">

      <!-- Photo panoramique -->
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="panoramic-image">
              <%= image_tag 'ile-panaromique.jpg' %>
            </div>
          </div>
  
      

          <div class="col-xs-12 col-md-10 col-md-offset-1">

            <!-- Description de Belle-Ile -->
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <div class="text-container">
                  <h4 class="customized">Decouvrir Belle-Ile</h4>
                  <p>Au sud du Morbihan, à 15 km de Quiberon, Belle-Île-en-Mer est la seconde des grandes îles de la façade atlantique. Du nord au sud, d’est en ouest, ses 85 km2 de superficie font de Belle-Île la plus grande des îles du Ponant, et sans doute la plus étonnante aussi par la variété des décors qu’elle propose. Des dunes de sable fin de la plage de Donnant aux falaises sculptées de la pointe de Taillefer ou des Poulains, Belle-Île offre un spectacle remarquable, immortalisé par de nombreux artistes, peintres ou poètes</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="media-container hidden-xs">
                  <%= image_tag "belle-ile-map.png" %> 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="media-container hidden-xs">
                  <%= image_tag "seagull.png" %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="text-container">
                  <h4 class="customized">Comme son nom l'indique</h4>
                  <p>C'est un lieu mythique. Belle-Île qui porte si bien son nom, doit son élogieuse réputation à son environnement exceptionnel. Paysages éclectiques, falaises déchirées et panoramas grandioses, landes  et dunes préservées, sentiers bucoliques ouverts aux balades romantiques et aux flâneries, Belle-île a une nature généreuse et fascinante. Les bellilois, qui tous, l'aiment passionnément et goûtent à s'y égarer encore, prennent minutieusement soin d'elle. Pour offrir sa splendeur à tous, ils savent en protéger les richesses et en ménager les ressources, et en font, au-delà d'un lieu unique de sérénité et d'inspiration, un authentique territoire du tourisme responsable. </p>
                </div>
              </div>
            </div>
            <!-- End of Description de Belle-Ile -->
                 



            <!-- Les Incontournables de Belle-Ile -->
            <!-- Things to see -->
            <div class="row">
              <div class="col-xs-12">
                <div class="landmark-icon-container">
                  <%= image_tag "photo-camera.svg" %>
                </div>
              </div>
            </div>
                  
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card text-center">
                  <%= image_tag "les-aiguilles-de-port-cotton.jpg", class: "round-image" %>
                  <div class="card-description">
                    <p class="card-note">- Bangor -</p>
                    <p class="card-text">Les Aiguilles de Port Cotton</p> 
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card text-center">
                  <%= image_tag "eglise-notre-dame-locmaria.jpg", class: "round-image" %>
                  <div class="card-description">  
                    <p class="card-note">- Locmaria -</p>                
                    <p class="card-text">Eglise Notre-Dame de l'Assomption</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card text-center">
                  <%= image_tag "port-de-sauzon.jpg", class: "round-image" %>
                  <div class="card-description">  
                    <p class="card-note">- Sauzon -</p>                
                    <p class="card-text">Port de Sauzon</p>
                  </div>
                </div>
              </div>
              <div class="ccol-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card text-center">
                  <%= image_tag "port-de-sauzon.jpg", class: "round-image" %>
                  <div class="card-description">  
                    <p class="card-note">- Le Palais -</p>                
                    <p class="card-text">Citadelle Vauban</p>
                  </div>
                </div>
              </div>
            </div>



            <!-- Sports to practice -->
            <div class="row">
              <div class="col-xs-12">
                <div class="landmark-icon-container">
                  <%= image_tag "sea-horse-facing-left.svg" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-center">
                  <%= image_tag "les-aiguilles-de-port-cotton.jpg", class: "round-image" %>
                  <div class="card-description">
                    <p class="card-note">- Bangor -</p>
                    <p class="card-text">Paddle</p> 
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-center">
                  <%= image_tag "eglise-notre-dame-locmaria.jpg", class: "round-image" %>
                  <div class="card-description">  
                    <p class="card-note">- Locmaria -</p>                
                    <p class="card-text">Body-board</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-center">
                  <%= image_tag "port-de-sauzon.jpg", class: "round-image" %>
                  <div class="card-description">  
                    <p class="card-note">- Sauzon -</p>                
                    <p class="card-text">Planche à voile</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-center">
                  <%= image_tag "port-de-sauzon.jpg", class: "round-image" %>
                  <div class="card-description">  
                    <p class="card-note">- Le Palais -</p>                
                    <p class="card-text">Kayak</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Things to taste -->
            <div class="row">
              <div class="col-xs-12">
                <div class="landmark-icon-container">
                  <%= image_tag "dish.svg" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-center">
                  <%= image_tag "les-aiguilles-de-port-cotton.jpg", class: "round-image" %>
                  <div class="card-description">
                    <p class="card-note">- Bangor -</p>
                    <p class="card-text">Bière de Belle-Ile</p> 
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-center">
                  <%= image_tag "eglise-notre-dame-locmaria.jpg", class: "round-image" %>
                  <div class="card-description">  
                    <p class="card-note">- Locmaria -</p>                
                    <p class="card-text">Fromage de chèvre</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-center">
                  <%= image_tag "port-de-sauzon.jpg", class: "round-image" %>
                  <div class="card-description">  
                    <p class="card-note">- Sauzon -</p>                
                    <p class="card-text">Crêpes de Sauzon</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-center">
                  <%= image_tag "port-de-sauzon.jpg", class: "round-image" %>
                  <div class="card-description">  
                    <p class="card-note">- Le Palais -</p>                
                    <p class="card-text">Cidre breton</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- End of Les Incontournables de Belle-Ile -->
          </div>
        </div>
      </div>
    </div> 
    
    


    <!-- Third Tab -->
    <div class="tab-content hidden" id="contacts">
      <p>Contact me if any questions.</p>
    </div>
  </div>      
</div>





<!--  Belle-Ile by Drone video         
<div class="col-xs-12">
  <div class="media-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/U-ki8thWaIc" frameborder="0" allowfullscreen></iframe>
  </div>
</div> -->



