<div class="wrapper">
  <div class="photo-background">
    <%= link_to "accommodation" do %>
      <span><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="main">
    <div class="home-section">
      <div class="title">
        <h2 class="letter-spaced">Petite Maison Bleue</h2>
        <p>Brenantec en Sauzon, Belle-Ile-en-Mer</p>
      </div>
      <div class="features-container hidden-xs">
        <div class="icon-card text-center">
          <i class="fa fa-home" aria-hidden="true"></i>
          <p class="fine-print caps letter-spaced">Maison indépendante</p>
        </div>
      
        <div class="icon-card text-center">
          <i class="fa fa-bed" aria-hidden="true"></i>
          <p class="fine-print caps letter-spaced">1 chambre</p>
        </div>
      
        <div class="icon-card text-center">
          <i class="fa fa-user" aria-hidden="true"></i>
          <p class="fine-print caps letter-spaced">2 - 4 pers.</p>
        </div>
    
        <div class="icon-card text-center">
          <i class="fa fa-bath" aria-hidden="true"></i>
          <p class="fine-print caps letter-spaced">1 salle de bain</p>
        </div>
      
        <div class="icon-card text-center">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
          <p class="fine-print caps letter-spaced">80 m2</p>
        </div>
      </div>

      <!-- Reduced icon container visible only on mobile -->
      <div class="features-container-mini hidden-sm hidden-md hidden-lg hidden-xl">
        <div class="icon-card-mini text-center">
          <i class="fa fa-user" aria-hidden="true"></i>
          <p class="caps letter-spaced">2 - 4 pers.</p>
        </div>
    
        <div class="icon-card-mini text-center">
          <i class="fa fa-bath" aria-hidden="true"></i>
          <p class="caps letter-spaced">1 SDB</p>
        </div>
      
        <div class="icon-card-mini text-center">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
          <p class="caps letter-spaced">80 m2</p>
        </div>
        <!-- End of mobile format -->
      </div>
      
      <!-- Description section -->
      <div class="description">
        <h3 class="customized">Descriptif</h3>
        <p>Cette maison récente, construite en 2001, d'une superficie de 80 m2 environ, fait partie d’un petit hameau familial, implanté sur un terrain – jardin paysager de 900 m2. Référencée « 2 Clévacances » par l’Office du Tourisme de Belle-Ile-en-Mer, la maison est composée de 2 pièces principales : un séjour avec coin cuisine et une chambre - et d’une salle de bain.</p>
        <h5>Au rez de chaussée:</h5>
        <ul>
          <li>Un séjour avec cheminée, un coin repas, un coin cuisine;</li>
          <li>Une salle de bains avec baignoire et wc.</li>
        </ul>
        <p><i class="fa fa-info-circle padded-h" aria-hidden="true"></i>Un couchage complémentaire est  dans le séjour (canapé-lit une personne).</p>
        <%= link_to do %>
          <p class="small-note"><i class="fa fa-map-o padded-h" aria-hidden="true"></i>Voir le plan</p>
        <% end %>
        <h5>A l’étage :</h5>
        <p>Une très grande chambre, très claire avec:</p>
        <ul>
          <li>un lit double – sommier à lattes (180 x 200 cm);</li>
          <li>un lit simple – sommier à lattes (90 x 200 cm)</li>
        </ul>
        <%= link_to do %>
          <p class="small-note"><i class="fa fa-map-o padded-h" aria-hidden="true"></i>
          Voir le plan</p>
        <% end %>
      </div>
      
      <!-- Equipment section -->
      <div class="equiment">
        <h3 class="customized">Equipement</h3>
        <div class="container-fluid">
          <div class="row inline-icons">
            <div class="col-xs-12 col-md-6">
              <p class="honey">Individuel:</p>
              <div class="col-xs-6 small-note">
                <p><%=image_tag "wifi.svg", class: "space-right" %>Internet</p>
                <p><%=image_tag "patio.svg", class: "space-right" %>Terrasse</p>
                <p><%=image_tag "kitchen-furniture.svg", class: "space-right" %>Cuisine</p>
              </div>
              <div class="col-xs-6 small-note">
                <p><%=image_tag "fireplace.svg", class: "space-right" %>Cheminée</p>
                <p><%=image_tag "television.svg", class: "space-right" %>TV</p>
                <p><%=image_tag "vacuum-cleaner.svg", class: "space-right" %>Aspirateur</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <p class="honey mobile-padding">Commun:</p>
              <div class="col-xs-12 small-note">
                <p><%=image_tag "grill.svg", class: "space-right" %>BBQ</p>
                <p><%=image_tag "washing-machine.svg", class: "space-right" %>Lave-linge / Sèche-linge</p>
                <p><%=image_tag "parking.svg", class: "space-right" %>Parking privatif</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Location section -->
      <div class="location">
        <h3 class="customized">Localisation</h3>
        <p>Située au nord ouest de l’Ile, à l’entrée du village très calme de Brénantec en Sauzon, au milieu de la campagne, à 1,2 km du port de Sauzon, - charmant petit port de pêche et de plaisance – et à 1,5 km de la plage.</p>

        <!-- Google map -->
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43242.48225338888!2d-3.2495571864788046!3d47.36013047906683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x481a83218914a0fd%3A0x42182927cb7cb7cf!2sBrenantec%2C+56360+Sauzon!5e0!3m2!1sen!2sfr!4v1504103764682" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!-- end of map -->
        <p class="space-before">Exposée Ouest/ Est, elle bénéficie d’un jardin avec une terrasse privatif abrité à l’ouest – très vite baigné de soleil dans la journée.</p>
          <%= link_to do %>
            <p class="small-note"><i class="fa fa-map-o padded-h" aria-hidden="true"></i>Voir le plan du terrain</p>
          <% end %>
      </div>

      <!-- Calendar -->
      <h3 class="customized">Disponibilités</h3>
      <script src='https://www.accommodationcalendar.com/widget/cwidget.php?calendarID=aaa72ddf099a090860288b031f0f673c898ace628e4143e601463cfa742390b8&col=3&row=4&size=2&lang=english&bg=FFFFFF&dfc=000000&border=CCCCCC&hbg=F1F0F0&hfc=000000&abg=A3FF6E&afc=000000&ubg=C8434C&ufc=000000&mobileresize=yes'></script>
    </div>

    <!-- Booking request form -->
    <div class="form-section">
      <div class="bkg-request">
        <div class="bkg-header text-center">
          <h5>A partir de <strong>90 eur</strong> / nuit</h5>
        </div>
        <div class="bkg-details">
          <%= simple_form_for [@brequest] do |f| %>
           <%= f.error_notification %>
           <%= f.input :checkin, as: :string, input_html: { class: "datepicker test-icon", id: "start" }, label: "Arrivée", placeholder: ''  %>
           <%= f.input :checkout, as: :string, input_html: { class: "datepicker test-icon", id: "end" }, label: "Départ", placeholder: '' %>
           <%= f.input :subject, as: :hidden, input_html: { value: "accommodation"  } %>
           <p><strong>Prix par nuit:</strong><span> 90 EUR</span> </p>
           <p><strong>Nombre de jours:</strong>  <span id = "nb_days"> jours </span></p>
           <p><strong>Prix final:</strong>  <span id = "final_price"> EUR </span></p>

          <!-- BEGINNING OF MODAL -->
                      
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary-rose fixed-size-sf text-center" data-toggle="modal" data-target="#myModal">
              Envoyer la demande
            </button>




            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Demande de réservation</h4>
                  </div>
                  <div class="modal-body">
                    <div class="modal-row-1">
                      <%= image_tag "maison-bleue.png", class: "card-image-w panoramic-image" %>
                      <h2 class="custom space-before">Petite Maison Bleue</h2>
                    </div>
                    <div class="bkg-details">
                      <%= simple_form_for [@brequest] do |f| %>
                        <div class="col-xs-6 inputs-inline-left">
                           <%= f.input :checkin, as: :string, input_html: { class: "datepicker test-icon", id: "start" }, label: "Arrivée", placeholder: ''  %>
                        </div>
                        <div class="col-xs-6 inputs-inline-right">
                          <%= f.input :checkout, as: :string, input_html: { class: "datepicker test-icon", id: "end" }, label: "Départ", placeholder: '' %>
                        </div>
                        <%= f.input :name, label: 'Prénom' %>
                        <%= f.input :email %>
                        <%= f.input :message %>
                        <%= f.input :nb_guests, as: :hidden, input_html: { class: "qty", value: "1", name: 'quantity' } %>
                        <%= f.input :subject, as: :hidden, input_html: { value: "accommodation" } %>
                        <%= f.submit "Envoyer la demande", class: "btn btn-primary-rose fixed-size" %> 
                      <% end %> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- END OF MODAL -->


          <% end %>
        </div>
        
        <div class="bkg-control text-center">
          <a href="https://www.airbnb.com/rooms/20894862?location=Sauzon%2C%20France" target="blank" class="btn btn-agency airbnb fixed-size"><%=image_tag "airbnb_logo.png", class: "space-right" %>Réserver sur AirBnB</a>
        </div>
        <div class="direct-contact">
          <p class="fine-print">Vous pouvez également me contacter directement: </p>
          <p class="small-note"><%=image_tag "phone-call.svg", class: "space-right" %>06 26 31 98 02</p>
          <p class="small-note"><%=image_tag "opened-email-envelope.svg", class: "space-right" %>ilagane.millet@gmail.com</p>
        </div>
        
      </div>
    </div>
  </div>
</div>





<!-- Javascript for sticky function -->

<% content_for(:after_js) do %>
  <script type="text/javascript">
    var footer = document.getElementById("two").offsetHeight;
    function sticky() {
      if (window.innerWidth < 900) {
        $(".bkg-request").unstick();
      } else {
        $(".bkg-request").sticky({bottomSpacing: 130 + footer});
      }
    };
    window.addEventListener('load', sticky);
    window.addEventListener('resize', sticky);
  </script>
<% end %>


<!-- Calculates booking price dynamically - ERROR because of JS date format-->

<script type="text/javascript" >
  window.onload = function() {
    $(document).ready(function() {
      $("#end").on("dp.hide", function(e) {
        var start = Date.parse($("#start").val());
        var end = Date.parse($("#end").val());
        var nb_days = (end - start)/(24 * 60 * 60 * 1000);
        var total_price = nb_days * 70;
        $("#nb_days").html(nb_days);
        $("#final_price").html(total_price);
      });
    });
  }
</script>


