<div class="wrapper">
  <div class="photo-background">
    <%= link_to "accommodation" do %>
      <span><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
  <div class="features-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1">
          <div class="row">
            <div class="col-xs-12 home-title">
              <h3 class="letter-spaced">Petite Maison Bleue</h3>
              <p class="note">Brenantec en Sauzon, Belle-Ile-en-Mer</p>
            </div>
          </div>
          <div class="row">
            <div class="features-container hidden-xs">
              <div class="icon-holder text-center">
                <i class="fa fa-home" aria-hidden="true"></i>
                <p class="fine-print caps letter-spaced">Maison indépendante</p>
              </div>
            
              <div class="icon-holder text-center">
                <i class="fa fa-bed" aria-hidden="true"></i>
                <p class="fine-print caps letter-spaced">1 chambre</p>
              </div>
            
              <div class="icon-holder text-center">
                <i class="fa fa-user" aria-hidden="true"></i>
                <p class="fine-print caps letter-spaced">2 - 4 pers.</p>
              </div>
          
              <div class="icon-holder text-center">
                <i class="fa fa-bath" aria-hidden="true"></i>
                <p class="fine-print caps letter-spaced">1 salle de bain</p>
              </div>
            
              <div class="icon-holder text-center">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                <p class="fine-print caps letter-spaced">80 m2</p>
              </div>
            </div>

            <!-- Reduced icon container visible only on mobile -->
            <div class="features-container-mini hidden-sm hidden-md hidden-lg hidden-xl">
              <div class="icon-holder-mini text-center">
                <i class="fa fa-user" aria-hidden="true"></i>
                <p class="caps letter-spaced">2 - 4 pers.</p>
              </div>
          
              <div class="icon-holder-mini text-center">
                <i class="fa fa-bath" aria-hidden="true"></i>
                <p class="caps letter-spaced">1 SDB</p>
              </div>
            
              <div class="icon-holder-mini text-center">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                <p class="caps letter-spaced">80 m2</p>
              </div>
            </div>
            <!-- End of mobile format -->
          </div>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          <div class="bkg-request">
            <div class="bkg-header text-center">
              <h5>A partir de <strong>50 eur</strong> / nuit</h5>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of wrapper -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-1">

    <!-- Description section -->
      <div class="row">
        <div class="col-xs-12">
          <div class="home-description">
            <h4 class="customized">Descriptif</h4>
            <p>Cette maison récente, construite en 2001, d'une superficie de 80 m2 environ, fait partie d’un petit hameau familial, implanté sur un terrain – jardin paysager de 900 m2. Référencée « 2 Clévacances » par l’Office du Tourisme de Belle-Ile-en-Mer, la maison est composée de 2 pièces principales : un séjour avec coin cuisine et une chambre - et d’une salle de bain.</p>
            <h5>Au rez de chaussée:</h5>
            <ul>
              <li>Un séjour avec cheminée, un coin repas, un coin cuisine;</li>
              <li>Une salle de bains avec baignoire et wc.</li>
            </ul>
            <p><i class="fa fa-info-circle padded-h" aria-hidden="true"></i>Un couchage complémentaire est  dans le séjour (canapé-lit une personne).</p>
            <%= link_to do %>
              <i class="fa fa-map-o small-note padded-h" aria-hidden="true"></i>
              <span class="small-note">Voir le plan</span>
            <% end %>
            <h5>A l’étage :</h5>
            <p>Une très grande chambre, très claire avec:</p>
            <ul>
              <li>un lit double – sommier à lattes (180 x 200 cm);</li>
              <li>un lit simple – sommier à lattes (90 x 200 cm)</li>
            </ul>
            <%= link_to do %>
              <i class="fa fa-map-o small-note padded-h" aria-hidden="true"></i>
              <span class="small-note">Voir le plan</span>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Equipment section -->
      <div class="row">
        <div class="col-xs-12">
          <h4 class="customized">Equipement</h4>
        </div>
      </div>
      <div class="row inline-icons">
        <div class="col-xs-12 col-md-6">
          <p class="honey">Individuel:</p>
          <div class="col-xs-6 small-note">
            <p><%=image_tag "wifi.svg", class: "space-right" %>Internet</p>
            <p><%=image_tag "patio.svg", class: "space-right" %>Terrasse</p>
            <p><%=image_tag "kitchen-furniture.svg", class: "space-right" %>Cuisine</p>
          </div>
          <div class="col-xs-6 small-note">
            <p><%=image_tag "fireplace.svg", class: "space-right" %>Cheminée</p>
            <p><%=image_tag "television.svg", class: "space-right" %>TV</p>
            <p><%=image_tag "vacuum-cleaner.svg", class: "space-right" %>Aspirateur</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <p class="honey mobile-padding">Commun:</p>
          <div class="col-xs-12 small-note">
            <p><%=image_tag "grill.svg", class: "space-right" %>BBQ</p>
            <p><%=image_tag "washing-machine.svg", class: "space-right" %>Lave-linge / Sèche-linge</p>
            <p><%=image_tag "parking.svg", class: "space-right" %>Parking privatif</p>
          </div>
        </div>
      </div>

      <!-- Location section -->
      <div class="row">
        <div class="col-xs-12">
          <h4 class="customized">Localisation</h4>
          <p>Située au nord ouest de l’Ile, à l’entrée du village très calme de Brénantec en Sauzon, au milieu de la campagne, à 1,2 km du port de Sauzon, - charmant petit port de pêche et de plaisance – et à 1,5 km de la plage.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Map -->
<div class="map-container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43242.48225338888!2d-3.2495571864788046!3d47.36013047906683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x481a83218914a0fd%3A0x42182927cb7cb7cf!2sBrenantec%2C+56360+Sauzon!5e0!3m2!1sen!2sfr!4v1504103764682" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- End of Map -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <p class="space-before">Exposée Ouest/ Est, elle bénéficie d’un jardin avec une terrasse privatif abrité à l’ouest – très vite baigné de soleil dans la journée.</p>
          <%= link_to do %>
            <i class="fa fa-map-o small-note padded-h" aria-hidden="true"></i>
            <span class="small-note">Voir le plan du terrain</span>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4 class="customized">Disponibilités</h4>
        </div>
      </div>
    </div>
  </div>
</div>




