
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Welcome to your Dashboard</h3>
      <h4 class="customized">Coaches</h4>
      <ul>
        <% @coaches.each do |coach| %>
          <li data-coach-id="<%= coach.id %>">
            <%= coach.name %>: <%= link_to "View", coach_path(coach) %> | <%= link_to "Edit", edit_coach_path(coach) %> |<%= link_to "Delete", coach_path(coach), method: :delete, remote: true %>
          </li>
        <% end %>
      </ul>
      <h4 class="customized">Workshops</h4>
      <ul>
        <% @workshops.each do |workshop| %>
          <li data-workshop-id="<%= workshop.id %>">
            <%= workshop.title %>: <%= link_to "View", workshop_path(workshop) %> | <%= link_to "Edit", edit_workshop_path(workshop) %> | <%= link_to "Delete", workshop_path(workshop), method: :delete, remote: true %>
          </li>
        <% end %>
      </ul>
      <h4 class="customized">Program steps</h4>
      <ul>
        <% @programsteps.each do |programstep| %>
          <li data-programstep-id="<%= programstep.id %>">
            <span class = "bold"><%= programstep.workshop.title %></span> - <%= programstep.description %> <%= link_to "View", programstep_path(programstep) %> | <%= link_to "Edit", edit_programstep_path(programstep) %> | <%= link_to "Delete", programstep_path(programstep), method: :delete, remote: true %>
          </li>
        <% end %>
      </ul>
      <h4 class="customized">Sessions</h4>
      <ul>
        <% @sessions.each do |session| %>
          <li data-session-id="<%= session.id %>">
            <span class = "bold"><%= session.workshop.title %></span> - <%= session.date.strftime("%A, %d %B %Y") %> - <%= link_to "View", session_path(session) %> | <%= link_to "Edit", edit_session_path(session) %> | <%= link_to "Delete", session_path(session), method: :delete, remote: true %>
          </li>
        <% end %>
      </ul>
      <h4 class="customized">Booking requests</h4>
      <ul>
        <% @brequests.each do |brequest| %>
          <li data-session-id="<%= brequest.id %>">
            <span class = "bold"><%= brequest.name %></span> - <%= brequest.subject %> - <%= brequest.nb_guests %> participant(s) - <%= link_to "View", brequest_path(brequest) %> | <%= link_to "Delete", brequest_path(brequest), method: :delete, remote: true %>
          </li>
        <% end %>
      </ul>


    </div>
  </div>

</div>



  