<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sentiers de Soi</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  </head>
  
  <% if action_name == 'home' %>
    <body class="homepage-logo">
  <% else %>
    <body>
  <% end %>
  <!-- Navbar -->
    <% if action_name == 'home' %>
      <%= render 'shared/navbar' %>
    <% else %>
      <div class="wrapper-navbar-fixed">
        <%= render 'shared/navbar' %>
      </div>
    <% end %>
  <!-- end of Navbar -->
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
    <%= cloudinary_js_config %>
  </body>
</html>
